/*Tipos de letra personalizados*/
@font-face {
  font-family: "Barlow-Bold";
  src: url(./fonts/Barlow/Barlow-Bold.ttf);
}
body {
  background-color: #f3eed9;
}
/*reinicio de los espacios de los elementos*/
* {
  margin: 0;
  padding: 0;
}
body {
  perspective: 800px;
}
/*Barra de navegación*/
.NavBar {
  width: 100%;
  height: 10vh;
  background-color: #ac0010;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fontLogotipe {
  margin: 15px;
  font-size: 3rem;
  color: #fbdc6a;
  font-family: Barlow-Bold;
  text-shadow: 2px 2px 4px #03030371;
  text-decoration: none;
}
.LinksNav li {
  display: inline-block;
  list-style: none;
  margin: 0px 15px 0px 5px;
}
.LinksNav li a {
  text-decoration: none;
  color: #fafafa;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
}
.LinksNav li a:hover {
  color: #fffd6a;
}
/*imagen de fondo*/
.BackgroundImage {
  background-image: url(./img/Fondo-principal.jpg);
  display: block;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  /*alinear el texto en el centro */
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.BackgroundImage h2{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4rem;
  color: #f0f8ff;
  text-shadow: 3px 3px 7px #7CB0E0;
}
/*menu de imágenes*/
.MenuDeImagenes {
  background-color: #004b75;
  display: block;
}
.MenuDeImagenes h2 {
  /*darle estilo al subtitulo del menu*/
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #e9e9e9;
  font-size: 2.3rem;
  text-shadow: 4px 4px 15px #5ad2f7;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
}
.MenuSeleccion {
  display: flex;
  margin: auto;
  width: 100%;
  height: 460px;
}
.TheLastOfUs {
  background-image: url(./img/Portadas/TLoU-Parte-2-Portada.png);
}
.GodOfWar {
  background-image: url(./img/Portadas/God-Of-War-Portada.png);
}
.Zelda {
  background-image: url(./img/Portadas/TLoZ-BotW-Portada.png);
}
.Mario {
  background-image: url(./img/Portadas/Mario-Odyssey-Portada.png);
}
.ReadDeadRedemption {
  background-image: url(./img/Portadas/Red-Dead-Redemption-2-Portada.png);
}
.OpcionMenu {
  background-size: cover;
  background-position: center;
  color: transparent;
  width: 0px;
  flex-grow: 1; /*Hace que la imagen ocupe equitativamente el div*/
  /*opacidad y transición suave*/
  opacity: 0.8;
  transition: 1s ease;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.OpcionMenu:hover {
  cursor: pointer;
  width: 45%;
  opacity: 1;
  filter: contrast(120%);
  color: #d9ff00;
  box-shadow: 30px 30px 90px #11ff1d;
}
